:root {
  --white: #FFFFFF;
}
/* UTILITIES */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.container-custom {
  width: 60%;
  min-width: 150px;
  margin: 0 auto;
  padding: 20px;
}

.section-top .bar {
  width: 25%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.section-top .star {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.btn-download {
  padding: 5px 25px;
  border-radius: 5px;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background: transparent;
}

.social-icon {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}
.debug {
  background-color: rgba(red, 0, 0, .2);
}
/* HEADER */
header {
  height: 90px;
  background-color: #2C3E50;
}

header .navbar a {
  color: white;
}

header .navbar-toggler {
  color: var(--white);
  border: solid var(--white);
}

header .navbar-toggler  .navbar-toggler-icon {
  color: var(--white);
}

/* MAIN */
#portfolio .section-top .bar,
#contact .section-top .bar {
  background-color: #2C3E50;
}
#portfolio .section-top .star span,
#contact .section-top span {
  color: #2C3E50;
}

/* JUMBOTRON */
#jumbotron {
  background-color: #1ABC9C;
  color: white;
}

#jumbotron .avatar {
  width: 200px;
}

/* PORTFOLIO */
#portfolio .col .custom-card {
  position: relative;
}

#portfolio .col .custom-card img {
  border-radius: 10px;
}

#portfolio .col .custom-card .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 200px;
  border-radius: 10px;
  display: none;
  cursor: pointer;
  font-size: 100px;
}

#portfolio .col .custom-card:hover .overlay{
  display: block;
  background-color: rgba(26, 188, 156, 0.2);
  color: #1ABC9C;
}

/* ABOUT */
#about {
  background-color: #1ABC9C;
  color: white;
}

#about .btn-download:hover {
  color: #1ABC9C;
  background: white;
}

/* CONTACT  */
.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.input-custom::placeholder {
  color: black;
}

.button-custom {
  background-color: #1ABC9C;
  border: none;
}

.button-custom:hover {
  background-color: rgba(26, 188, 156, 0.77);
}

/* FOOTER */
footer {
  color: white;
}

footer .footer-top {
  background-color: #3A546D;
}

footer .footer-top .social-icon:hover {
  color: #3A546D;
  background-color: white;
}

footer .footer-bottom {
  background-color: #2C3E50;
}
