[class^='container'],
[class^='col'] {
  background-color: rgba(0, 255, 0, .2);
  border: 1px solid;
}

.container-custom {
  width: 60%;
  max-width: 1000px;
  min-width: 150px;
  margin: 0 auto;
}

header {
  height: 90px;
}

footer {
  height: 110px;
}