:root{
  --torquise: #1ABC9C;
}

[class^='container'],
[class^='col'] {
  background-color: rgba(0, 255, 0, .2);
  border: 1px solid;
}

h2,
h6 {
  text-transform: uppercase;
}

.btn-submit {
  padding: 5px 15px;
  border-radius: 5px;
  background: var(--torquise);
  border: none;
  color: white;
}


.container-custom {
  width: 60%;
  max-width: 1000px;
  min-width: 150px;
  margin: 0 auto;
}

header {
  height: 90px;
}

footer {
  height: 110px;
}